<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      National Aeronautics and Space Administration
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <!-- This is where we show the questions -->
      <ion-col><app-c1></app-c1></ion-col>
      <!-- This is where we show the answers -->
      <ion-col><app-c2></app-c2></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      NASA © 2024 | Patricia Gariando (◕‿◕)
    </ion-title>
  </ion-toolbar>
</ion-footer>